<% provide(:title, "Início") %>

<div class="quadroPrincipal">
	<h1>Entrada</h1>
  <h2>Opções</h2>
	<ul>
		<li><a href=/static_pages/home>Home</a></li>
		<li><a href=/static_pages/help>Help</a></li>
		<li><a href=/static_pages/about>About</a></li>
	</ul>
</div>
